@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Tektur:wght@400..900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: "Tektur", sans-serif; /* Default font */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Ensure canvas is visible */
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 2s ease-out;
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-loop {
  animation: loop linear infinite;
  width: max-content;
}
